div.steppedExample
{
  margin-left:  10%;
  margin-right: 10%;
}

div.step div.explanation
{
  float:  right;
  width:  30%;
}

/* A Kludge allowing me to put the content on a new line. */
pre.prettyprint::first-line
{
  line-height: 0.0;
  z-index:     -1;
}

/* Turn off border for Google prettyprint */
pre.prettyprint
{
  border: none !important;
}
